<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>添加词汇</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2>添加词汇</h2>
    <hr>
    <div>
        <form action="/englishword/add" method="post">
            <div class="form-group">
                <label>词汇内容</label>
                <textarea class="form-control" name="words" rows="12" required></textarea>
            </div>
            <button class="btn btn-info">确定</button>
        </form>
    </div>
</div>
</body>
</html>