<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>文章管理列表</title>
    <script>
        //发布
        function publishArt(id) {
            if (confirm("确定发布吗？")) {
                $.post("/article/publish", {id:id}, publishArtCallback);
            }
        }
        function publishArtCallback(data) {
            if (data == 1) {
                alert("操作成功");
                location.reload();
            } else {
                alert("操作失败");
            }
        }
        //删除
        function deleteArt(id) {
            if (confirm("确定删除吗")) {
                $.post("/article/delete", {id:id}, deleteArtCallback);
            }
        }
        function deleteArtCallback(data) {
            if (data == 1) {
                alert("操作成功");
                location.reload();
            } else {
                alert("操作失败");
            }
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="t-space"></div>
    <h2>文章管理列表</h2>
    <hr>
    <div>
        <div>
            <form class="form-inline" action="/article" method="post">
                <div class="form-group mr-2">
                    <label>文章类型：</label>
                    <select class="form-control" name="type" th:each="arttype : ${types}">
                        <option th:value="${arttype.id}" th:text="${arttype.name}" th:selected="${type == arttype.id}">type_name</option>
                    </select>
                </div>
                <div class="form-group mr-2">
                    <label>文章状态：</label>
                    <select name="status" class="form-control">
                        <option value="0" th:selected="${status == 0}">全部</option>
                        <option value="1" th:selected="${status == 1}">未发布</option>
                        <option value="2" th:selected="${status == 2}">已发布</option>
                    </select>
                </div>
                <div class="form-group mr-2">
                    <label>文章标题：</label>
                    <input name="title" th:value="${title}" class="form-control">
                </div>
                <button class="btn btn-primary">搜索</button>
            </form>
        </div>
        <hr>
        <div>
            <table class="table table-bordered table-hover">
                <tr class="thead-dark">
                    <th>文章序号</th>
                    <th>文章类型</th>
                    <th>文章标题</th>
                    <th>创建时间</th>
                    <th>文章状态</th>
                    <th>操作</th>
                </tr>
                <tr th:each="art, artStat : ${pageList}">
                    <td th:text="${artStat.count}"></td>
                    <td th:switch="${art.type}" th:each="arttype : ${types}">
                        <span th:case="${arttype.id}" th:text="${arttype.name}">type_name</span>
                        <span th:case="*">UNKOWN</span>
                    </td>
                    <td th:text="${art.title}"></td>
                    <td th:text="${#dates.format(art.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:switch="${art.status}">
                        <span th:case="1">未发布</span>
                        <span th:case="2">已发布</span>
                    </td>
                    <td>
                        <!--<a class="btn btn-primary btn-sm" th:href="${'https://www.wannacorn.com/article/' + art.id}" target="_blank">预览</a>-->
                        <a class="btn btn-primary btn-sm" th:href="${'//localhost:8080/article/' + art.id}" target="_blank">预览</a>
                        <button class="btn btn-success btn-sm" th:onclick="'javascript:publishArt('+${art.id}+')'">发布</button>
                        <button class="btn btn-danger btn-sm" th:onclick="'javascript:deleteArt('+${art.id}+')'">删除</button>
                    </td>
                </tr>
            </table>
            <div th:replace="fragments/pagination :: pagination(${'/article'})"></div>
        </div>
    </div>
</div>
</body>
</html>