<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理后台</title>
    <style>
        a, a:hover, a:active {
            text-decoration-line: none;
        }
        ul {
            list-style-type: circle;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h2>管理后台</h2>
    <hr>
    <div>
        <ul sec:authorize="hasRole('ADMIN')">
            <li>
                <a href="/user">用户管理</a>
            </li>
            <li>
                <a href="/article">文章管理</a>
            </li>
            <li>
                <a href="/article/type">分类管理</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/englisharticle/add">添加英文文章</a>
            </li>
            <li>
                <a href="/englisharticle">管理英文文章</a>
            </li>
        </ul>
    </div>
    <div style="height: 30rem"></div>
</div>
</body>
</html>