<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>添加文章</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2>添加文章</h2>
    <hr>
    <div>
        <form action="/englisharticle/add" method="post">
            <div class="form-group">
                <label>主标题</label>
                <input class="form-control" name="primaryTitle" required>
            </div>
            <div class="form-group">
                <label>副标题</label>
                <input class="form-control" name="secondTitle" required>
            </div>
            <div class="form-group w-25">
                <label>文章类型</label>
                <input class="form-control" name="type" required>
            </div>
            <div class="form-group">
                <label>正文内容</label>
                <textarea class="form-control" name="content" rows="12" required></textarea>
            </div>
            <button class="btn btn-success mr-2">确定</button>
            <button type="button" class="btn btn-info" onclick="history.back()">返回</button>
        </form>
    </div>
</div>
</body>
</html>