<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>检索英文文章</title>
</head>
<body>
<div layout:fragment="content" style="max-width: 1400px">
    <h2>检索英文文章</h2>
    <hr>
    <div>
        <form action="/englisharticle/search" method="post">
            <div class="row">
                <label class="col-sm-1 col-form-label">检索词汇</label>
                <div class="col-sm-10">
                    <input class="form-control" name="words" th:value="${words}" placeholder="多个单词以英文逗号（' , '）分隔" required>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary">检索</button>
                </div>
            </div>
        </form>
    </div>
    <!--自动匹配结果-->
    <div class="mt-4" th:if="${pageList != null}">
        <p class="font-weight-bold">* 根据现有单词库和文章库自动检索出的包含高频词汇的文章列表（根据包含词汇量倒叙）：</p>
        <table class="table table-bordered table-hover table-sm text-center">
            <tr class="thead-dark">
                <th>序号</th>
                <th>文章摘要</th>
                <th>包含单词</th>
                <th>原始文章名称</th>
                <th>操作</th>
            </tr>
            <tr th:each="art, artStat : ${pageList}">
                <td th:text="${artStat.count}"></td>
                <td class="text-left" th:text="${art.secondTitle}"></td>
                <td class="text-left" style="word-break: break-word" th:text="${art.containWords + '（' + art.containWordSize +'个）'}"></td>
                <td th:text="${art.pdfPrimaryFileId}"></td>
                <td>
                    <button class="btn btn-info btn-sm">预览</button>
                </td>
            </tr>
        </table>
        <form class="d-none" id="searchForm" method="post"></form>
        <div th:replace="fragments/pagination :: pagination(${'searchForm'},${'/englisharticle/search'})"></div>
    </div>
    <!--文章检索结果-->
    <div id="accordion">
        <div class="card" th:each="resultMap, resultMapStat : ${resultMap}">
            <div class="card-header" th:id="${'heading' + resultMapStat.count}">
                <h5 class="mb-0">
                    <button class="btn btn-outline-info" style="" data-toggle="collapse" aria-expanded="true"
                            th:attr="data-target=${'#collapse' + resultMapStat.count},aria-controls=${'#collapse' + resultMapStat.count}"
                            th:text="${'根据单词 “' + resultMap.key + '” 共检索到 ' + #lists.size(resultMap.value) + ' 篇文章'}">

                    </button>
                    <small class="ml-5 text-secondary" style="cursor: pointer" onclick="alert('暂不可用，等我开发，老任！')">打包下载</small>
                </h5>
            </div>
            <div th:id="${'collapse' + resultMapStat.count}" class="collapse" th:attr="aria-labelledby=${'heading' + resultMapStat.count}" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="art, artStat : ${resultMap.value}">
                            <span th:text="${'文章'+artStat.count+'：'}"></span><a th:href="@{/englisharticle/preview(pdfPrimaryFileId=${art.pdfPrimaryFileId},pdfPageNumber=${art.pdfPageNumber})}"
                                                                                target="_blank" title="点击预览" th:text="${#strings.length(art.content) > 80 ? #strings.substring(art.content, 0, 80) + '...' : art.content}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>