<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}"
      lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>英文文章上传</title>
    <script>
        $(function () {
            //选择文件时校验文件类型
            $('form :file').change(function () {
                var files = $(this)[0].files;
                var singFileSize = 1024 * 1024 * 30;
                var totalFileSize = 1024 * 1024 * 200;
                var size = 0;
                $(files).each(function (i, file) {
                    if (file.size > singFileSize) {
                        alert("文件“" + file.name + "”过大");
                        location.reload();
                        return false;
                    }
                    if (file.type != 'application/pdf') {
                        alert("文件“" + file.name +"”类型有误，请重新选择");
                        location.reload();
                        return false;
                    }
                    size += file.size;
                });
                if (size > totalFileSize) {
                    alert("文件总大小超过上限");
                    location.reload();
                    return false;
                }
            });
            //提交时，上传按钮失效
            $('form:first').submit(function () {
                $('form:first button:first').prop("disabled", true);
            });
        })
    </script>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2>英文文章上传</h2>
    <hr>
    <div>
        <form action="/englisharticle/upload" method="post" enctype="multipart/form-data">
            <div class="form-group w-25">
                <label>选择文件：</label>
                <input type="file" class="form-control" name="files" multiple required>
                <small class="text-danger">（目前仅支持<b>“.pdf ”</b>格式文件上传且单个文件大小 < 30MB，所有文件大小 < 200MB）</small>
            </div>
            <button class="btn btn-info">上传</button>
        </form>
    </div>
</div>
</body>
</html>